body {
  padding-top: 40px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.carousel h2 {
  position : relative;
}

.social {
  transition:All .08s ease-in-out;
-webkit-transition:All 0.8s ease-in-out;
-moz-transition:All 0.8s ease-in-out;
-o-transition:All 0.8s ease-in-out;
transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
-webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
-moz-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
-o-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
-ms-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
}
.social:hover {
  color:#ec1111;
  transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
-webkit-transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
-moz-transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
-o-transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
-ms-transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
}

.menu-top, .menu-top #menuContainer {
  margin-top: 0 !important;
}



/* .embed-* is from bootstrap, for responsive videos */
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(240, 240, 240, 0.4);
}

.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.angular-google-map-container { height: 400px; }