<header id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="{{key}}" ng-repeat="(key,value) in content" ng-class="{active:key==0}"></li>
            </ol>
    
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div ng-repeat="(key,value) in content" ng-class="{active:key==0}" class="item">
                    <div class="fill" style="background-image:url('img/home/{{value.pic}}');"></div>
                    <div class="carousel-caption">
                        <div class="row">
                            <div  ng-if="value.rightText" class="col-xs-4">
                                <p class="u">{{value.rightText.content}}</p>
                            </div>
                            <div  ng-if="value.centerText" class="col-xs-4" ng-class="{'col-xs-offset-4':!value.rightText}">
                                <p class="u">{{value.centerText.content}}</p>
                            </div>
                            <div  ng-if="value.leftText" class="col-xs-4" ng-class="{'col-xs-offset-4':(value.rightText && !value.centerText),'col-xs-offset-8':(!value.rightText && !value.centerText) }">
                                <p class="u">{{value.leftText.content}}</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
    
            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
</header>