<footer class="navbar navbar-default navbar-fixed-bottom">
    
    <br/>
    <div class="row">
        
        <div class="col-md-2 col-md-offset-3">
            <a href="/"><p class="text-center">{{social.text}}<p></a>
        </div>
        <div class="col-md-2">
            
        </div>
        <div class="col-md-4">
            <p class="text-center">
                <a ng-repeat="s in social.icons"  href="{{s.url}}">
                    <span class="btn btn-social-icon social">
                        <i class="fa fa-{{s.type}}"></i>
                    </span>
                </a>
            </p>
                
        </div>
    </div>
</footer>
