<footer class="navbar navbar-default navbar-fixed-bottom">
    
    <br/>
    <div class="row">
        
        <div class="col-md-6 visible-md-block visible-lg-block">
            <a href="/"><p class="text-center">{{social.text}}<p></a>
        </div>
        
        <div class="col-md-6">
            <p class="text-center">
                <a ng-repeat="s in social.icons"  href="{{s.url}}">
                    <span class="btn btn-social-icon social">
                        <i class="fa fa-{{s.type}}"></i>
                    </span>
                </a>
            </p>
        </div>
    </div>
    <div class="row visible-xs-block visible-sm-block">
        <div class="col-xs-12">
            <a href=""><p class="text-center">{{social.text}}<p></a>
        </div>
    </div>
</footer>
