<div style="padding-top: 60px">
    
    <div id="menuContainer" class="container">
        <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Algun Títol <span class="text-muted">continuem amb el títol.</span></h2>
              <p class="lead">{{content}}</p>
            </div>
            <div class="col-md-5">
                
              
                <div  ng-if="type == 'video'"class="featurette-heading featurette-image embed-responsive embed-responsive-16by9">
                    <youtube-video video-id="video"></youtube-video>
                </div>
                <div ng-if="type == 'image'">
                    <img class="featurette-heading featurette-image img-responsive center-block" src="/img/{{value}}"></img>
                </div>
            </div>
        </div>
    </div>
    
</div>

<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-4">
            © Copyright - Enplater
        </div>
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            Twitter - Facebook - Youtube - G+ - Linkedin
        </div>
    </div>
</footer>