<div style="padding-top: 100px">
    
    <div class="container">
        
        <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Enplater Torroella <span class="text-muted">de montgrí</span></h2>
              <p class="lead">{{content}}</p>
            </div>
            <div class="col-md-5">
                <p class="lead">
                    <ui-gmap-google-map center='map1.center' zoom='map1.zoom'>
                        <ui-gmap-marker idKey="1" coords="map1.mark"></ui-gmap-marker>
                    </ui-gmap-google-map>
                </p>
            </div>
        </div>
        
         <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
              <h2 class="featurette-heading">Enplater Seriñena <span class="text-muted"></span></h2>
              <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
              <ui-gmap-google-map center='map2.center' zoom='map2.zoom'>
                    <ui-gmap-marker idKey="1" coords="map2.mark"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>
        
    </div>
    
</div>

