<div style="padding-top: 60px">
    
    <div id="menuContainer" class="container">
        <div ng-repeat="(key,p) in content">
            <div ng-if="key%2==0" class="row featurette">
                <div class="col-md-7">
                  <h2  class="featurette-heading">{{p.heading.principal}}<span class="text-muted">{{p.heading.second}}</span></h2>
                  <p ng-repeat= "t in p.text" class="lead">{{t}}</p>
                </div>
                <div class="col-md-5">
                    
                  
                    <div  ng-if="p.type == 'video'"class="featurette-heading featurette-image embed-responsive embed-responsive-16by9">
                        <youtube-video video-id="video"></youtube-video>
                    </div>
                    <div ng-if="p.type == 'image'">
                        <img class="featurette-heading featurette-image img-responsive center-block" src="/img/{{p.value}}"></img>
                    </div>
                </div>
            </div>
            
            <div ng-if="key%2==1" class="row featurette">
                <div class="col-md-7 col-md-push-5">
                  <h2  class="featurette-heading">{{p.heading.principal}}<span class="text-muted">{{p.heading.second}}</span></h2>
                  <p ng-repeat= "t in p.text" class="lead">{{t}}</p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    
                  
                    <div  ng-if="p.type == 'video'"class="featurette-heading featurette-image embed-responsive embed-responsive-16by9">
                        <youtube-video video-id="video"></youtube-video>
                    </div>
                    <div ng-if="p.type == 'image'">
                        <img class="featurette-heading featurette-image img-responsive center-block" src="/img/{{p.value}}"></img>
                    </div>
                </div>
            </div>
            
            <hr class="featurette-divider">
        </div>
        
    </div>
    
</div>

<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-4">
            © Copyright - Enplater
        </div>
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            Twitter - Facebook - Youtube - G+ - Linkedin
        </div>
    </div>
</footer>